In [24]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)

files = ['hads85','hads87','hads89','hads91','hads93','hads95','hads97','hads99','hads2001','hads2003',\
         'thads2005','thads2007','thads2009','thads2011','thads2013n']

cols_to_keep = ['CONTROL', 'AGE','FMTAssisted','BEDRMS','FMTBuilt','Burden','COSTMed',\
                'CostMedRelAMIPct','FMTCOSTMEDRELAMICAT','FMR','FMTAssisted','FMTOwnRent',\
                'FMTStatus','FMTStructureType','FMTIncRelAMICat','IncRelAMIPct','IPov',\
                'LMed','NUNITS','OtherCost','PER','ROOMS','TotSal','Utility','VALUE','ZINC2',\
                'ZSMHC']

cols_to_keep = [x.upper() for x in cols_to_keep]

years = ['85','87','89','91','93','95','97','99','01','03','05','07','09','11','13']
year_iter = iter(years)
df_map = {}

for file in files:
    df = pd.read_csv('data/' + file + '.txt')
    df.columns = [x.upper() for x in df.columns]
    df.rename(columns={'AGE1':'AGE'}, inplace=True)
    #print(df.columns)
    df = df.loc[:,cols_to_keep]
    #print(df.shape)
    df_map[next(year_iter)] = df

In [25]:
#looking at value counts for FMTSTATUS
for key in df_map.keys():
    print(key)
    print(df_map[key]['FMTSTATUS'].value_counts())

85
'1 Occupied'    43104
'3 Vacant'       2810
Name: FMTSTATUS, dtype: int64
87
'1 Occupied'    43436
'3 Vacant'       2706
Name: FMTSTATUS, dtype: int64
89
'1 Occupied'    45772
'3 Vacant'       2700
Name: FMTSTATUS, dtype: int64
91
'1 Occupied'    44764
'3 Vacant'       2500
Name: FMTSTATUS, dtype: int64
93
'1 Occupied'    49326
'3 Vacant'       2990
Name: FMTSTATUS, dtype: int64
95
'1 Occupied'    45675
'3 Vacant'       2750
Name: FMTSTATUS, dtype: int64
97
'-5'    42665
Name: FMTSTATUS, dtype: int64
99
'-5'    49422
Name: FMTSTATUS, dtype: int64
01
'-5'    45132
Name: FMTSTATUS, dtype: int64
03
'-5'    51805
Name: FMTSTATUS, dtype: int64
05
'-5'    46853
Name: FMTSTATUS, dtype: int64
07
'-5'    42729
Name: FMTSTATUS, dtype: int64
09
'-5'    49090
Name: FMTSTATUS, dtype: int64
11
'-5'    145531
Name: FMTSTATUS, dtype: int64
13
'-5'    64535
Name: FMTSTATUS, dtype: int64

In [26]:
#exclude entries where FMTSTATUS is Vacant
for key in df_map.keys():
    df = df_map[key]
    df = df.loc[(df['FMTSTATUS'].str.contains('Occupied')) | (df['FMTSTATUS'].str.contains('-5')), :]
    df_map[key] = df
    print(df_map[key]['FMTSTATUS'].value_counts())

'1 Occupied'    43104
Name: FMTSTATUS, dtype: int64
'1 Occupied'    43436
Name: FMTSTATUS, dtype: int64
'1 Occupied'    45772
Name: FMTSTATUS, dtype: int64
'1 Occupied'    44764
Name: FMTSTATUS, dtype: int64
'1 Occupied'    49326
Name: FMTSTATUS, dtype: int64
'1 Occupied'    45675
Name: FMTSTATUS, dtype: int64
'-5'    42665
Name: FMTSTATUS, dtype: int64
'-5'    49422
Name: FMTSTATUS, dtype: int64
'-5'    45132
Name: FMTSTATUS, dtype: int64
'-5'    51805
Name: FMTSTATUS, dtype: int64
'-5'    46853
Name: FMTSTATUS, dtype: int64
'-5'    42729
Name: FMTSTATUS, dtype: int64
'-5'    49090
Name: FMTSTATUS, dtype: int64
'-5'    145531
Name: FMTSTATUS, dtype: int64
'-5'    64535
Name: FMTSTATUS, dtype: int64

In [27]:
for key in df_map.keys():
    df = df_map[key]
    df = df.loc[df['BURDEN'] < 0]
    print(key)
    print(df['BURDEN'].value_counts())

85
-9.0    2188
-1.0     434
Name: BURDEN, dtype: int64
87
-9.0    2425
-1.0     237
Name: BURDEN, dtype: int64
89
-9.0    2697
-1.0     458
Name: BURDEN, dtype: int64
91
-9.0    2464
-1.0     388
Name: BURDEN, dtype: int64
93
-9.0    2675
-1.0     508
Name: BURDEN, dtype: int64
95
-1.0    593
Name: BURDEN, dtype: int64
97
-9.0    2684
-1.0     673
Name: BURDEN, dtype: int64
99
-9.0    2833
-1.0     730
Name: BURDEN, dtype: int64
01
-9.0    2645
-1.0     773
Name: BURDEN, dtype: int64
03
-9.0    3608
-1.0     807
Name: BURDEN, dtype: int64
05
-9.0    3494
-1.0     463
Name: BURDEN, dtype: int64
07
-9.0    3623
-1.0     391
Name: BURDEN, dtype: int64
09
-9.0    4033
-1.0     550
Name: BURDEN, dtype: int64
11
-9.0    10613
-1.0     2090
Name: BURDEN, dtype: int64
13
-9.0    4438
-1.0    1208
Name: BURDEN, dtype: int64

In [28]:
#if burden is -1 or greater than 10, set to 10, if burden is -9 set to NaN
for key in df_map.keys():
    df = df_map[key]
    df.loc[df['BURDEN'] == -9, 'BURDEN'] = np.nan
    df.loc[df['BURDEN'] == -1, 'BURDEN'] = np.nan
    df.loc[df['BURDEN'] > 10,'BURDEN'] = 10
    df_map[key] = df

In [29]:
#looking at value counts for FMTBUILT
for key in df_map.keys():
    print(key)
    print(df_map[key]['FMTBUILT'].value_counts())

85
'1960-1979'    18739
'1940-1959'    10584
'-5'           10485
'1980-1989'     3296
Name: FMTBUILT, dtype: int64
87
'1960-1979'    18132
'-5'           10377
'1940-1959'     9950
'1980-1989'     4977
Name: FMTBUILT, dtype: int64
89
'1960-1979'    18159
'-5'           10795
'1940-1959'    10788
'1980-1989'     6030
Name: FMTBUILT, dtype: int64
91
'1960-1979'    17601
'-5'           10047
'1940-1959'     9728
'1980-1989'     6699
'1990-1999'      689
Name: FMTBUILT, dtype: int64
93
'1960-1979'    18797
'1940-1959'    11152
'-5'           11091
'1980-1989'     6801
'1990-1999'     1485
Name: FMTBUILT, dtype: int64
95
'1960-1979'    16937
'1940-1959'    10091
'-5'            9562
'1980-1989'     6320
'1990-1999'     2765
Name: FMTBUILT, dtype: int64
97
'-5'    42665
Name: FMTBUILT, dtype: int64
99
'-5'    49422
Name: FMTBUILT, dtype: int64
01
'-5'    45132
Name: FMTBUILT, dtype: int64
03
'-5'    51805
Name: FMTBUILT, dtype: int64
05
'1960-1979'    15196
'-5'            7901
'1940-1959'     7812
'1980-1989'     6039
'1990-1999'     6017
'2000-2009'     3888
Name: FMTBUILT, dtype: int64
07
'1960-1979'    13276
'1940-1959'     6811
'-5'            6770
'1980-1989'     5438
'1990-1999'     5423
'2000-2009'     5011
Name: FMTBUILT, dtype: int64
09
'1960-1979'    14608
'1940-1959'     8158
'-5'            7865
'2000-2009'     6461
'1980-1989'     6076
'1990-1999'     5922
Name: FMTBUILT, dtype: int64
11
'1960-1979'     43612
'1940-1959'     24050
'1980-1989'     19874
'-5'            19501
'1990-1999'     18885
'2000-2009'     18693
'After 2010'      916
Name: FMTBUILT, dtype: int64
13
'1960-1979'     19685
'1940-1959'     11078
'-5'            10058
'1980-1989'      8234
'1990-1999'      7533
'2000-2009'      7176
'After 2010'      771
Name: FMTBUILT, dtype: int64

In [30]:
#change entries where FMTBUILT is -5 to not_defined
for key in df_map.keys():
    df = df_map[key]
    df.loc[df['FMTBUILT'].str.contains('-5'), 'FMTBUILT'] = '\'not_defined\'' 
    df_map[key] = df
    print(df_map[key]['FMTBUILT'].value_counts())

'1960-1979'      18739
'1940-1959'      10584
'not_defined'    10485
'1980-1989'       3296
Name: FMTBUILT, dtype: int64
'1960-1979'      18132
'not_defined'    10377
'1940-1959'       9950
'1980-1989'       4977
Name: FMTBUILT, dtype: int64
'1960-1979'      18159
'not_defined'    10795
'1940-1959'      10788
'1980-1989'       6030
Name: FMTBUILT, dtype: int64
'1960-1979'      17601
'not_defined'    10047
'1940-1959'       9728
'1980-1989'       6699
'1990-1999'        689
Name: FMTBUILT, dtype: int64
'1960-1979'      18797
'1940-1959'      11152
'not_defined'    11091
'1980-1989'       6801
'1990-1999'       1485
Name: FMTBUILT, dtype: int64
'1960-1979'      16937
'1940-1959'      10091
'not_defined'     9562
'1980-1989'       6320
'1990-1999'       2765
Name: FMTBUILT, dtype: int64
'not_defined'    42665
Name: FMTBUILT, dtype: int64
'not_defined'    49422
Name: FMTBUILT, dtype: int64
'not_defined'    45132
Name: FMTBUILT, dtype: int64
'not_defined'    51805
Name: FMTBUILT, dtype: int64
'1960-1979'      15196
'not_defined'     7901
'1940-1959'       7812
'1980-1989'       6039
'1990-1999'       6017
'2000-2009'       3888
Name: FMTBUILT, dtype: int64
'1960-1979'      13276
'1940-1959'       6811
'not_defined'     6770
'1980-1989'       5438
'1990-1999'       5423
'2000-2009'       5011
Name: FMTBUILT, dtype: int64
'1960-1979'      14608
'1940-1959'       8158
'not_defined'     7865
'2000-2009'       6461
'1980-1989'       6076
'1990-1999'       5922
Name: FMTBUILT, dtype: int64
'1960-1979'      43612
'1940-1959'      24050
'1980-1989'      19874
'not_defined'    19501
'1990-1999'      18885
'2000-2009'      18693
'After 2010'       916
Name: FMTBUILT, dtype: int64
'1960-1979'      19685
'1940-1959'      11078
'not_defined'    10058
'1980-1989'       8234
'1990-1999'       7533
'2000-2009'       7176
'After 2010'       771
Name: FMTBUILT, dtype: int64

In [31]:
for key in df_map.keys():
    df = df_map[key]
    df = df.loc[df['INCRELAMIPCT'] < 0]
    print(key)
    _ = df['INCRELAMIPCT'].value_counts()
    print(_.head(5))

85
-34.408774    1
-23.702621    1
-46.579117    1
-22.593925    1
-26.336245    1
Name: INCRELAMIPCT, dtype: int64
87
-47.023545    1
-8.972184     1
-42.085904    1
-55.514448    1
-17.414857    1
Name: INCRELAMIPCT, dtype: int64
89
-3.845228     1
-34.175848    1
-26.168915    1
-14.761716    1
-14.081790    1
Name: INCRELAMIPCT, dtype: int64
91
-33.679016    2
-39.155805    2
-49.201404    1
-35.246194    1
-28.287545    1
Name: INCRELAMIPCT, dtype: int64
93
-21.434083    1
-1.812579     1
-19.985930    1
-21.488684    1
-21.567985    1
Name: INCRELAMIPCT, dtype: int64
95
-21.019108    1
-32.267119    1
-3.146592     1
-15.161725    1
-30.289906    1
Name: INCRELAMIPCT, dtype: int64
97
-9.000000     2684
-7.181435        2
-25.737976       2
-41.036773       2
-1.231677        1
Name: INCRELAMIPCT, dtype: int64
99
-9.000000     2833
-27.136102       2
-12.592099       1
-18.297400       1
-8.581133        1
Name: INCRELAMIPCT, dtype: int64
01
-9.000000     2645
-29.747735       1
-17.554014       1
-14.425985       1
-14.014831       1
Name: INCRELAMIPCT, dtype: int64
03
-9.000000     3608
-24.579264       2
-16.166961       2
-4.371623        1
-28.401022       1
Name: INCRELAMIPCT, dtype: int64
05
-9.000000     3541
-27.498984       1
-37.645498       1
-41.440669       1
-18.021917       1
Name: INCRELAMIPCT, dtype: int64
07
-9.000000     3663
-71.217304       1
-56.023599       1
Name: INCRELAMIPCT, dtype: int64
09
-9.000000     4033
-13.837785       1
-26.378148       1
-61.940888       1
-28.671031       1
Name: INCRELAMIPCT, dtype: int64
11
-9.000000    10613
-0.004676       51
-0.024554       38
-0.105366       26
-0.009134       25
Name: INCRELAMIPCT, dtype: int64
13
-9.000000    4438
-0.023449      63
-0.029478      27
-0.025233      23
-0.028838      22
Name: INCRELAMIPCT, dtype: int64

In [32]:
# For INCRELAMIPCT some years have large counts of observations at -9; setting to nan
# Other negatve values of INCRELAMIPCT, setting to 0
for key in df_map.keys():
    df = df_map[key]
    df.loc[df['INCRELAMIPCT'] == 9, 'INCRELAMIPCT'] = np.nan
    df.loc[df['INCRELAMIPCT'] < 0, 'INCRELAMIPCT'] = 0
    df_map[key] = df

In [33]:
# set NUNIT to categorical variable
for key in df_map.keys():
    df = df_map[key]
    df.loc[df['NUNITS'] >= 100, 'NUNITS'] = 100
    df.loc[(df['NUNITS'] >= 50) & (df['NUNITS'] < 100),  'NUNITS'] = 50
    df.loc[(df['NUNITS'] >= 10) & (df['NUNITS'] < 50) ,  'NUNITS'] = 10
    df.loc[(df['NUNITS'] >  1)  & (df['NUNITS'] < 10) ,   'NUNITS'] = 2
    df_map[key] = df

In [34]:
for key in df_map.keys():
    print(df_map[key]['NUNITS'].value_counts())

1      31143
2       7176
10      3258
100      860
50       667
Name: NUNITS, dtype: int64
1     33020
2      6152
10     2883
50     1381
Name: NUNITS, dtype: int64
1     33179
2      7418
10     3511
50     1664
Name: NUNITS, dtype: int64
1     33922
2      6347
10     3057
50     1438
Name: NUNITS, dtype: int64
1     35725
2      7781
10     3928
50     1892
Name: NUNITS, dtype: int64
1     33338
2      7047
10     3548
50     1742
Name: NUNITS, dtype: int64
1     31306
2      6410
10     3378
50     1571
Name: NUNITS, dtype: int64
1      36600
2       7083
10      3955
100     1205
50       579
Name: NUNITS, dtype: int64
1      34188
2       5907
10      3451
100      835
50       751
Name: NUNITS, dtype: int64
1      37950
2       7452
10      4314
100     1190
50       899
Name: NUNITS, dtype: int64
1      34389
2       6211
10      4027
100     1310
50       916
Name: NUNITS, dtype: int64
1      31311
2       5809
10      3700
100     1111
50       798
Name: NUNITS, dtype: int64
 1      35635
 2       6854
 10      4180
 100     1422
 50       991
-7          8
Name: NUNITS, dtype: int64
 1      102768
 2       22608
 10      13385
 100      4131
 50       2637
-7           2
Name: NUNITS, dtype: int64
 1      43714
 2      10258
 10      5991
 100     2851
 50      1719
-7          2
Name: NUNITS, dtype: int64

In [35]:
# setting -7 value of NUNITS to NaN
for key in df_map.keys():
    df = df_map[key]
    df.loc[df['NUNITS'] == -7, 'NUNITS'] = np.nan
    df_map[key] = df
    print(key)
    print(df_map[key]['NUNITS'].value_counts())

85
1.0      31143
2.0       7176
10.0      3258
100.0      860
50.0       667
Name: NUNITS, dtype: int64
87
1.0     33020
2.0      6152
10.0     2883
50.0     1381
Name: NUNITS, dtype: int64
89
1.0     33179
2.0      7418
10.0     3511
50.0     1664
Name: NUNITS, dtype: int64
91
1.0     33922
2.0      6347
10.0     3057
50.0     1438
Name: NUNITS, dtype: int64
93
1.0     35725
2.0      7781
10.0     3928
50.0     1892
Name: NUNITS, dtype: int64
95
1.0     33338
2.0      7047
10.0     3548
50.0     1742
Name: NUNITS, dtype: int64
97
1.0     31306
2.0      6410
10.0     3378
50.0     1571
Name: NUNITS, dtype: int64
99
1.0      36600
2.0       7083
10.0      3955
100.0     1205
50.0       579
Name: NUNITS, dtype: int64
01
1.0      34188
2.0       5907
10.0      3451
100.0      835
50.0       751
Name: NUNITS, dtype: int64
03
1.0      37950
2.0       7452
10.0      4314
100.0     1190
50.0       899
Name: NUNITS, dtype: int64
05
1.0      34389
2.0       6211
10.0      4027
100.0     1310
50.0       916
Name: NUNITS, dtype: int64
07
1.0      31311
2.0       5809
10.0      3700
100.0     1111
50.0       798
Name: NUNITS, dtype: int64
09
1.0      35635
2.0       6854
10.0      4180
100.0     1422
50.0       991
Name: NUNITS, dtype: int64
11
1.0      102768
2.0       22608
10.0      13385
100.0      4131
50.0       2637
Name: NUNITS, dtype: int64
13
1.0      43714
2.0      10258
10.0      5991
100.0     2851
50.0      1719
Name: NUNITS, dtype: int64

In [40]:
for key in df_map.keys():
    df = df_map[key]
    print(df['PER'].value_counts().head(10))

2     13906
1     10017
3      7535
4      6808
5      3092
6      1074
7       374
8       172
9        63
10       33
Name: PER, dtype: int64
2     14100
1     10088
3      7708
4      6917
5      3032
6       983
7       352
8       150
9        55
10       26
Name: PER, dtype: int64
2     14871
1     11110
3      7876
4      6960
5      3131
6      1120
7       384
8       176
9        69
10       40
Name: PER, dtype: int64
2     14758
1     10671
3      7803
4      6825
5      3039
6      1022
7       389
8       143
9        62
10       32
Name: PER, dtype: int64
2     16197
1     12356
3      8402
4      7248
5      3258
6      1161
7       436
8       143
9        68
10       25
Name: PER, dtype: int64
2     14863
1     11244
3      7717
4      6901
5      3124
6      1168
7       389
8       138
9        69
10       26
Name: PER, dtype: int64
 2    13090
 1    10349
 3     6567
 4     5895
-6     2684
 5     2556
 6      942
 7      354
 8      125
 9       55
Name: PER, dtype: int64
 2    15127
 1    12293
 3     7539
 4     6846
 5     3065
-6     2833
 6     1090
 7      359
 8      153
 9       53
Name: PER, dtype: int64
 2    14023
 1    11173
 3     6819
 4     6243
 5     2715
-6     2645
 6      947
 7      331
 8      122
 9       64
Name: PER, dtype: int64
 2    15554
 1    12881
 3     7805
 4     6997
-6     3608
 5     3180
 6     1138
 7      364
 8      155
 9       60
Name: PER, dtype: int64
 2    14190
 1    11801
 3     6806
 4     6216
-6     3493
 5     2766
 6     1017
 7      339
 8      116
 9       60
Name: PER, dtype: int64
 2    12950
 1    10709
 3     6120
 4     5487
-6     3622
 5     2503
 6      864
 7      268
 8      118
 9       44
Name: PER, dtype: int64
 2    15024
 1    12429
 3     6896
 4     6218
-6     4033
 5     2862
 6      996
 7      382
 8      150
 9       59
Name: PER, dtype: int64
 2    43298
 1    38158
 3    21147
 4    18611
-6    10613
 5     8694
 6     3091
 7     1152
 8      444
 9      186
Name: PER, dtype: int64
 2    19162
 1    17999
 3     9223
 4     7808
-6     4438
 5     3707
 6     1387
 7      495
 8      179
 9       75
Name: PER, dtype: int64

In [41]:
# if PER greater than 8, then set to 9
# if PER equals -6, then set to NaN
for key in df_map.keys():
    df = df_map[key]
    df.loc[df['PER'] > 8, 'PER'] = 9
    df.loc[df['PER'] == -6, 'PER'] = np.nan
    df_map[key] = df
    print(df_map[key]['PER'].value_counts().head(10))

2.0    13906
1.0    10017
3.0     7535
4.0     6808
5.0     3092
6.0     1074
7.0      374
8.0      172
9.0      126
Name: PER, dtype: int64
2.0    14100
1.0    10088
3.0     7708
4.0     6917
5.0     3032
6.0      983
7.0      352
8.0      150
9.0      106
Name: PER, dtype: int64
2.0    14871
1.0    11110
3.0     7876
4.0     6960
5.0     3131
6.0     1120
7.0      384
8.0      176
9.0      144
Name: PER, dtype: int64
2.0    14758
1.0    10671
3.0     7803
4.0     6825
5.0     3039
6.0     1022
7.0      389
8.0      143
9.0      114
Name: PER, dtype: int64
2.0    16197
1.0    12356
3.0     8402
4.0     7248
5.0     3258
6.0     1161
7.0      436
8.0      143
9.0      125
Name: PER, dtype: int64
2.0    14863
1.0    11244
3.0     7717
4.0     6901
5.0     3124
6.0     1168
7.0      389
8.0      138
9.0      131
Name: PER, dtype: int64
2.0    13090
1.0    10349
3.0     6567
4.0     5895
5.0     2556
6.0      942
7.0      354
8.0      125
9.0      103
Name: PER, dtype: int64
2.0    15127
1.0    12293
3.0     7539
4.0     6846
5.0     3065
6.0     1090
7.0      359
8.0      153
9.0      117
Name: PER, dtype: int64
2.0    14023
1.0    11173
3.0     6819
4.0     6243
5.0     2715
6.0      947
7.0      331
8.0      122
9.0      114
Name: PER, dtype: int64
2.0    15554
1.0    12881
3.0     7805
4.0     6997
5.0     3180
6.0     1138
7.0      364
8.0      155
9.0      123
Name: PER, dtype: int64
2.0    14190
1.0    11801
3.0     6806
4.0     6216
5.0     2766
6.0     1017
7.0      339
8.0      116
9.0      109
Name: PER, dtype: int64
2.0    12950
1.0    10709
3.0     6120
4.0     5487
5.0     2503
6.0      864
7.0      268
8.0      118
9.0       88
Name: PER, dtype: int64
2.0    15024
1.0    12429
3.0     6896
4.0     6218
5.0     2862
6.0      996
7.0      382
8.0      150
9.0      100
Name: PER, dtype: int64
2.0    43298
1.0    38158
3.0    21147
4.0    18611
5.0     8694
6.0     3091
7.0     1152
8.0      444
9.0      323
Name: PER, dtype: int64
2.0    19162
1.0    17999
3.0     9223
4.0     7808
5.0     3707
6.0     1387
7.0      495
8.0      179
9.0      137
Name: PER, dtype: int64

In [44]:
# for any numeric columns, check for negatives
for key in df_map.keys():
    df = df_map[key]
    # create boolean series - true if numeric, false otherwise
    data_types = df.dtypes != 'object'
    # create iterator for data_types
    dtype_iter = iter(data_types)
    print(key)
    for column in cols_to_keep:
        is_numeric = next(dtype_iter)
        if(is_numeric):
            neg_values = df.loc[df[column] < 0, column]
            n_rows = neg_values.shape[0] 
            if n_rows != 0:
                #print(key)
                print(column)
                print(neg_values.value_counts().head(5))

85
VALUE
-9    15440
Name: VALUE, dtype: int64
ZINC2
-10001    12
-3000      4
-6000      3
-4000      2
-400       2
Name: ZINC2, dtype: int64
ZSMHC
-9    2224
Name: ZSMHC, dtype: int64
87
BEDRMS
-9    2
Name: BEDRMS, dtype: int64
VALUE
-9    14579
Name: VALUE, dtype: int64
ZINC2
-10001    12
-4001      3
-6000      2
-5001      2
-4000      2
Name: ZINC2, dtype: int64
ZSMHC
-9    2450
Name: ZSMHC, dtype: int64
89
VALUE
-9    16350
Name: VALUE, dtype: int64
ZINC2
-10001.0    3
-5000.0     3
-4000.0     3
-2000.0     2
-10000.0    1
Name: ZINC2, dtype: int64
ZSMHC
-9    2730
Name: ZSMHC, dtype: int64
91
VALUE
-9    15156
Name: VALUE, dtype: int64
ZINC2
-10001    19
-10000     4
-5000      3
-1200      3
-8000      1
Name: ZINC2, dtype: int64
ZSMHC
-9    2515
Name: ZSMHC, dtype: int64
93
VALUE
-9    17877
Name: VALUE, dtype: int64
ZINC2
-10001    12
-5000      4
-2400      2
-10000     2
-3065      1
Name: ZINC2, dtype: int64
ZSMHC
-9    2759
Name: ZSMHC, dtype: int64
95
VALUE
-9    16291
Name: VALUE, dtype: int64
ZINC2
-10001    13
-3000      3
-5333      2
-2500      2
-5000      2
Name: ZINC2, dtype: int64
97
AGE
-9    2684
Name: AGE, dtype: int64
TOTSAL
-9    2684
Name: TOTSAL, dtype: int64
VALUE
-6    15598
Name: VALUE, dtype: int64
ZINC2
-6        2684
-10000      21
-2000        7
-3000        6
-7240        2
Name: ZINC2, dtype: int64
ZSMHC
-6    2684
Name: ZSMHC, dtype: int64
99
AGE
-9    2833
Name: AGE, dtype: int64
TOTSAL
-9    2833
Name: TOTSAL, dtype: int64
VALUE
-6    17786
Name: VALUE, dtype: int64
ZINC2
-6        2833
-10000      16
-4000        3
-3000        3
-1000        2
Name: ZINC2, dtype: int64
ZSMHC
-6    2833
Name: ZSMHC, dtype: int64
01
AGE
-9    2645
Name: AGE, dtype: int64
TOTSAL
-9    2645
Name: TOTSAL, dtype: int64
VALUE
-6    15628
Name: VALUE, dtype: int64
ZINC2
-6        2645
-10000      18
-1           2
-88          2
-1000        2
Name: ZINC2, dtype: int64
ZSMHC
-6    2645
Name: ZSMHC, dtype: int64
03
AGE
-9    3608
Name: AGE, dtype: int64
IPOV
-9    3608
Name: IPOV, dtype: int64
TOTSAL
-9    3608
Name: TOTSAL, dtype: int64
VALUE
-6    18199
Name: VALUE, dtype: int64
ZINC2
-6        3608
-10000      26
-8000        3
-3000        3
-1           2
Name: ZINC2, dtype: int64
ZSMHC
-6    3608
Name: ZSMHC, dtype: int64
05
AGE
-9    3493
Name: AGE, dtype: int64
COSTMEDRELAMIPCT
-9.0    50
Name: COSTMEDRELAMIPCT, dtype: int64
FMR
-9    48
Name: FMR, dtype: int64
IPOV
-9    3493
Name: IPOV, dtype: int64
LMED
-9    50
Name: LMED, dtype: int64
TOTSAL
-9    3493
Name: TOTSAL, dtype: int64
VALUE
-6    16166
Name: VALUE, dtype: int64
ZINC2
-6        3493
-20308       4
-40616       2
-3668        1
-9703        1
Name: ZINC2, dtype: int64
ZSMHC
-6    3493
Name: ZSMHC, dtype: int64
07
AGE
-9    3622
Name: AGE, dtype: int64
COSTMEDRELAMIPCT
-9.0    61
Name: COSTMEDRELAMIPCT, dtype: int64
FMR
-9    50
Name: FMR, dtype: int64
IPOV
-6    3622
Name: IPOV, dtype: int64
LMED
-9    42
-6    19
Name: LMED, dtype: int64
TOTSAL
-9    3622
Name: TOTSAL, dtype: int64
VALUE
-6    14725
Name: VALUE, dtype: int64
ZINC2
-6        3622
-28316       2
-6632        1
-22316       1
-25316       1
Name: ZINC2, dtype: int64
ZSMHC
-6    3622
Name: ZSMHC, dtype: int64
09
AGE
-9    4033
Name: AGE, dtype: int64
IPOV
-6    4033
Name: IPOV, dtype: int64
TOTSAL
-9    4033
Name: TOTSAL, dtype: int64
VALUE
-6    17610
Name: VALUE, dtype: int64
ZINC2
-6        4033
-13488       6
-11488       1
-19296       1
-26976       1
Name: ZINC2, dtype: int64
ZSMHC
-6    4033
Name: ZSMHC, dtype: int64
11
AGE
-9    10613
Name: AGE, dtype: int64
IPOV
-9    10613
Name: IPOV, dtype: int64
TOTSAL
-9    10613
Name: TOTSAL, dtype: int64
VALUE
-6    60109
Name: VALUE, dtype: int64
ZINC2
-6     10613
-18      568
-4       490
-36      196
-2       178
Name: ZINC2, dtype: int64
ZSMHC
-6    10613
Name: ZSMHC, dtype: int64
13
AGE
-9    4438
Name: AGE, dtype: int64
IPOV
-6    4438
Name: IPOV, dtype: int64
TOTSAL
-9    4438
Name: TOTSAL, dtype: int64
VALUE
-6    27389
Name: VALUE, dtype: int64
ZINC2
-6     4438
-13    1040
-26     384
-39      99
-52      23
Name: ZINC2, dtype: int64
ZSMHC
-6    4438
Name: ZSMHC, dtype: int64

In [45]:
# Based on cell above, there are large number of observations at -6 and -9. Will set to NaN. 
# Rest of negative observation to set to 0

for key in df_map.keys():
    df = df_map[key]
    # create boolean series - true if numeric, false otherwise
    data_types = df.dtypes != 'object'
    # create iterator for data_types
    dtype_iter = iter(data_types)
    
    for column in cols_to_keep:
        is_numeric = next(dtype_iter)
        if(is_numeric):
            if(column != 'INCRELAMIPCT'):
                if (column != 'BURDEN'):
                    df.loc[df[column] == -9, column] = np.nan
                    df.loc[df[column] == -6, column] = np.nan
                    df.loc[df[column] < 0, column] = 0
    df_map[key] = df

In [46]:
for key in df_map.keys():
    df = df_map[key]
    # create boolean series - true if numeric, false otherwise
    data_types = df.dtypes != 'object'
    # create iterator for data_types
    dtype_iter = iter(data_types)
    # create boolean array for BURDEN; True if BURDEN is NaN, false otherwise
    compare1 = df.loc[:, 'BURDEN']
    compare1 = compare1.isna()
    # for rest of columns (except NUNITS), check if NaN values coincide with NaN values in BURDEN
    for column in cols_to_keep:
        is_numeric = next(dtype_iter)
        if(is_numeric):
            if(column != 'BURDEN'):
                if(column != 'NUNITS'):
                    compare2 = df.loc[:, column]
                    compare2 = compare2.isna()
                    if(compare2.sum() > 0):
                        print(key, column)
                        print('\n')
                        print(pd.crosstab(compare1, compare2))
                        print('\n')

85 VALUE


VALUE   False  True
BURDEN
False   25276  15206
True     2388    234


85 ZSMHC


ZSMHC   False  True
BURDEN
False   40482      0
True      398   2224


87 BEDRMS


BEDRMS  False  True
BURDEN
False   40773      1
True     2661      1


87 VALUE


VALUE   False  True
BURDEN
False   26298  14476
True     2559    103


87 ZSMHC


ZSMHC   False  True
BURDEN
False   40774      0
True      212   2450


89 VALUE


VALUE   False  True
BURDEN
False   26494  16123
True     2928    227


89 ZSMHC


ZSMHC   False  True
BURDEN
False   42617      0
True      425   2730


91 VALUE


VALUE   False  True
BURDEN
False   26915  14997
True     2693    159


91 ZSMHC


ZSMHC   False  True
BURDEN
False   41912      0
True      337   2515


93 VALUE


VALUE   False  True
BURDEN
False   28478  17665
True     2971    212


93 ZSMHC


ZSMHC   False  True
BURDEN
False   46143      0
True      424   2759


95 INCRELAMIPCT


INCRELAMIPCT  False  True
BURDEN
False         45081      1
True            593      0


95 VALUE


VALUE   False  True
BURDEN
False   29023  16059
True      361    232


97 AGE


AGE     False  True
BURDEN
False   39308      0
True      673   2684


97 PER


PER     False  True
BURDEN
False   39308      0
True      673   2684


97 TOTSAL


TOTSAL  False  True
BURDEN
False   39308      0
True      673   2684


97 VALUE


VALUE   False  True
BURDEN
False   25944  13364
True     1123   2234


97 ZINC2


ZINC2   False  True
BURDEN
False   39308      0
True      673   2684


97 ZSMHC


ZSMHC   False  True
BURDEN
False   39308      0
True      673   2684


99 AGE


AGE     False  True
BURDEN
False   45859      0
True      730   2833


99 PER


PER     False  True
BURDEN
False   45859      0
True      730   2833


99 TOTSAL


TOTSAL  False  True
BURDEN
False   45859      0
True      730   2833


99 VALUE


VALUE   False  True
BURDEN
False   30396  15463
True     1240   2323


99 ZINC2


ZINC2   False  True
BURDEN
False   45859      0
True      730   2833


99 ZSMHC


ZSMHC   False  True
BURDEN
False   45859      0
True      730   2833


01 AGE


AGE     False  True
BURDEN
False   41714      0
True      773   2645


01 PER


PER     False  True
BURDEN
False   41714      0
True      773   2645


01 TOTSAL


TOTSAL  False  True
BURDEN
False   41714      0
True      773   2645


01 VALUE


VALUE   False  True
BURDEN
False   28284  13430
True     1220   2198


01 ZINC2


ZINC2   False  True
BURDEN
False   41714      0
True      773   2645


01 ZSMHC


ZSMHC   False  True
BURDEN
False   41714      0
True      773   2645


03 AGE


AGE     False  True
BURDEN
False   47390      0
True      807   3608


03 IPOV


IPOV    False  True
BURDEN
False   47390      0
True      807   3608


03 PER


PER     False  True
BURDEN
False   47390      0
True      807   3608


03 TOTSAL


TOTSAL  False  True
BURDEN
False   47390      0
True      807   3608


03 VALUE


VALUE   False  True
BURDEN
False   32174  15216
True     1432   2983


03 ZINC2


ZINC2   False  True
BURDEN
False   47390      0
True      807   3608


03 ZSMHC


ZSMHC   False  True
BURDEN
False   47390      0
True      807   3608


05 AGE


AGE     False  True
BURDEN
False   42896      0
True      464   3493


05 COSTMEDRELAMIPCT


COSTMEDRELAMIPCT  False  True
BURDEN
False             42848     48
True               3955      2


05 FMR


FMR     False  True
BURDEN
False   42851     45
True     3954      3


05 IPOV


IPOV    False  True
BURDEN
False   42896      0
True      464   3493


05 LMED


LMED    False  True
BURDEN
False   42848     48
True     3955      2


05 PER


PER     False  True
BURDEN
False   42896      0
True      464   3493


05 TOTSAL


TOTSAL  False  True
BURDEN
False   42896      0
True      464   3493


05 VALUE


VALUE   False  True
BURDEN
False   29389  13507
True     1298   2659


05 ZINC2


ZINC2   False  True
BURDEN
False   42896      0
True      464   3493


05 ZSMHC


ZSMHC   False  True
BURDEN
False   42896      0
True      464   3493


07 AGE


AGE     False  True
BURDEN
False   38715      0
True      392   3622


07 COSTMEDRELAMIPCT


COSTMEDRELAMIPCT  False  True
BURDEN
False             38674     41
True               3994     20


07 FMR


FMR     False  True
BURDEN
False   38668     47
True     4011      3


07 IPOV


IPOV    False  True
BURDEN
False   38715      0
True      392   3622


07 LMED


LMED    False  True
BURDEN
False   38674     41
True     3994     20


07 PER


PER     False  True
BURDEN
False   38715      0
True      392   3622


07 TOTSAL


TOTSAL  False  True
BURDEN
False   38715      0
True      392   3622


07 VALUE


VALUE   False  True
BURDEN
False   26502  12213
True     1502   2512


07 ZINC2


ZINC2   False  True
BURDEN
False   38715      0
True      392   3622


07 ZSMHC


ZSMHC   False  True
BURDEN
False   38715      0
True      392   3622


09 AGE


AGE     False  True
BURDEN
False   44507      0
True      550   4033


09 IPOV


IPOV    False  True
BURDEN
False   44507      0
True      550   4033


09 PER


PER     False  True
BURDEN
False   44507      0
True      550   4033


09 TOTSAL


TOTSAL  False  True
BURDEN
False   44507      0
True      550   4033


09 VALUE


VALUE   False  True
BURDEN
False   30004  14503
True     1476   3107


09 ZINC2


ZINC2   False  True
BURDEN
False   44507      0
True      550   4033


09 ZSMHC


ZSMHC   False  True
BURDEN
False   44507      0
True      550   4033


11 AGE


AGE      False  True
BURDEN
False   132828      0
True      2090  10613


11 IPOV


IPOV     False  True
BURDEN
False   132828      0
True      2090  10613


11 PER


PER      False  True
BURDEN
False   132828      0
True      2090  10613


11 TOTSAL


TOTSAL   False  True
BURDEN
False   132828      0
True      2090  10613


11 VALUE


VALUE   False  True
BURDEN
False   81770  51058
True     3652   9051


11 ZINC2


ZINC2    False  True
BURDEN
False   132828      0
True      2090  10613


11 ZSMHC


ZSMHC    False  True
BURDEN
False   132828      0
True      2090  10613


13 AGE


AGE     False  True
BURDEN
False   58889      0
True     1208   4438


13 IPOV


IPOV    False  True
BURDEN
False   58889      0
True     1208   4438


13 PER


PER     False  True
BURDEN
False   58889      0
True     1208   4438


13 TOTSAL


TOTSAL  False  True
BURDEN
False   58889      0
True     1208   4438


13 VALUE


VALUE   False  True
BURDEN
False   35428  23461
True     1718   3928


13 ZINC2


ZINC2   False  True
BURDEN
False   58889      0
True     1208   4438


13 ZSMHC


ZSMHC   False  True
BURDEN
False   58889      0
True     1208   4438

In [47]:
for key in df_map.keys():
    df = df_map[key]
    print(key)
    print(df['FMTINCRELAMICAT'].value_counts())
    print('\n')

85
'7 120% AMI +'        14961
'1 LTE 30% AMI'        6105
'2 30 - 50% AMI'       5273
'5 80 - 100% AMI'      5103
'4 60 - 80% AMI'       4644
'6 100 - 120% AMI'     4385
'3 50 - 60% AMI'       2633
Name: FMTINCRELAMICAT, dtype: int64


87
'7 120% AMI +'        15664
'1 LTE 30% AMI'        5543
'2 30 - 50% AMI'       5333
'5 80 - 100% AMI'      5050
'4 60 - 80% AMI'       4930
'6 100 - 120% AMI'     4273
'3 50 - 60% AMI'       2643
Name: FMTINCRELAMICAT, dtype: int64


89
'7 120% AMI +'        16148
'1 LTE 30% AMI'        6255
'5 80 - 100% AMI'      5656
'2 30 - 50% AMI'       5599
'4 60 - 80% AMI'       4912
'6 100 - 120% AMI'     4468
'3 50 - 60% AMI'       2734
Name: FMTINCRELAMICAT, dtype: int64


91
'7 120% AMI +'        14802
'1 LTE 30% AMI'        6448
'2 30 - 50% AMI'       5844
'5 80 - 100% AMI'      5249
'4 60 - 80% AMI'       5167
'6 100 - 120% AMI'     4371
'3 50 - 60% AMI'       2883
Name: FMTINCRELAMICAT, dtype: int64


93
'7 120% AMI +'        16131
'1 LTE 30% AMI'        7669
'2 30 - 50% AMI'       6547
'5 80 - 100% AMI'      5971
'4 60 - 80% AMI'       5372
'6 100 - 120% AMI'     4533
'3 50 - 60% AMI'       3103
Name: FMTINCRELAMICAT, dtype: int64


95
'7 120% AMI +'        15796
'1 LTE 30% AMI'        6818
'2 30 - 50% AMI'       5680
'4 60 - 80% AMI'       5403
'5 80 - 100% AMI'      4920
'6 100 - 120% AMI'     4195
'3 50 - 60% AMI'       2863
Name: FMTINCRELAMICAT, dtype: int64


97
'7 120% AMI +'        14163
'1 LTE 30% AMI'        6441
'2 30 - 50% AMI'       5060
'4 60 - 80% AMI'       4243
'5 80 - 100% AMI'      4139
'6 100 - 120% AMI'     3646
'.'                    2684
'3 50 - 60% AMI'       2289
Name: FMTINCRELAMICAT, dtype: int64


99
'7 120% AMI +'        16081
'1 LTE 30% AMI'        7138
'2 30 - 50% AMI'       6094
'4 60 - 80% AMI'       5188
'5 80 - 100% AMI'      4888
'6 100 - 120% AMI'     4278
'3 50 - 60% AMI'       2922
'.'                    2833
Name: FMTINCRELAMICAT, dtype: int64


01
'7 120% AMI +'        14679
'1 LTE 30% AMI'        6478
'2 30 - 50% AMI'       5497
'4 60 - 80% AMI'       4730
'5 80 - 100% AMI'      4448
'6 100 - 120% AMI'     3935
'3 50 - 60% AMI'       2720
'.'                    2645
Name: FMTINCRELAMICAT, dtype: int64


03
'7 120% AMI +'        16668
'1 LTE 30% AMI'        7492
'2 30 - 50% AMI'       6571
'4 60 - 80% AMI'       5550
'6 100 - 120% AMI'     4379
'5 80 - 100% AMI'      4231
'.'                    3608
'3 50 - 60% AMI'       3306
Name: FMTINCRELAMICAT, dtype: int64


05
'7 120% AMI +'        14936
'1 LTE 30% AMI'        7063
'2 30 - 50% AMI'       5614
'4 60 - 80% AMI'       4931
'5 80 - 100% AMI'      4106
'6 100 - 120% AMI'     3992
'.'                    3493
'3 50 - 60% AMI'       2718
Name: FMTINCRELAMICAT, dtype: int64


07
'7 120% AMI +'        14902
'1 LTE 30% AMI'        5518
'2 30 - 50% AMI'       5119
'4 60 - 80% AMI'       4277
'.'                    3622
'6 100 - 120% AMI'     3448
'5 80 - 100% AMI'      3147
'3 50 - 60% AMI'       2696
Name: FMTINCRELAMICAT, dtype: int64


09
'7 120% AMI +'        15613
'1 LTE 30% AMI'        7102
'2 30 - 50% AMI'       6303
'4 60 - 80% AMI'       4864
'5 80 - 100% AMI'      4220
'6 100 - 120% AMI'     4067
'.'                    4033
'3 50 - 60% AMI'       2888
Name: FMTINCRELAMICAT, dtype: int64


11
'7 120% AMI +'        44596
'1 LTE 30% AMI'       25269
'2 30 - 50% AMI'      19131
'4 60 - 80% AMI'      14157
'5 80 - 100% AMI'     12022
'6 100 - 120% AMI'    11369
'.'                   10613
'3 50 - 60% AMI'       8374
Name: FMTINCRELAMICAT, dtype: int64


13
'7 120% AMI +'        19998
'1 LTE 30% AMI'       12380
'2 30 - 50% AMI'       8279
'4 60 - 80% AMI'       5778
'5 80 - 100% AMI'      5118
'6 100 - 120% AMI'     4890
'.'                    4438
'3 50 - 60% AMI'       3654
Name: FMTINCRELAMICAT, dtype: int64

In [48]:
for key in df_map.keys():
    df = df_map[key]
    compare1 = df.loc[:, 'BURDEN']
    compare1 = compare1.isna()
    
    compare2 = df.loc[:, 'FMTINCRELAMICAT']
    compare2 = compare2.str.contains('.', regex=False)
    
    print(key)
    print(pd.crosstab(compare1, compare2))
    print('\n')

85
FMTINCRELAMICAT  False
BURDEN
False            40482
True              2622


87
FMTINCRELAMICAT  False
BURDEN
False            40774
True              2662


89
FMTINCRELAMICAT  False
BURDEN
False            42617
True              3155


91
FMTINCRELAMICAT  False
BURDEN
False            41912
True              2852


93
FMTINCRELAMICAT  False
BURDEN
False            46143
True              3183


95
FMTINCRELAMICAT  False
BURDEN
False            45082
True               593


97
FMTINCRELAMICAT  False  True
BURDEN
False            39308      0
True               673   2684


99
FMTINCRELAMICAT  False  True
BURDEN
False            45859      0
True               730   2833


01
FMTINCRELAMICAT  False  True
BURDEN
False            41714      0
True               773   2645


03
FMTINCRELAMICAT  False  True
BURDEN
False            47390      0
True               807   3608


05
FMTINCRELAMICAT  False  True
BURDEN
False            42896      0
True               464   3493


07
FMTINCRELAMICAT  False  True
BURDEN
False            38715      0
True               392   3622


09
FMTINCRELAMICAT  False  True
BURDEN
False            44507      0
True               550   4033


11
FMTINCRELAMICAT   False  True
BURDEN
False            132828      0
True               2090  10613


13
FMTINCRELAMICAT  False  True
BURDEN
False            58889      0
True              1208   4438

In [49]:
#Based on comparing BURDEN NaN observations with other numerical columns, large count of rows have NaN 
#for all these columns if BURDEN is NaN.
#These rows also correspond to FMTINCRELAMICAT having "." as a value. Therefore, dropping all rows where 
#FMTINCRELAMICAT is "."

for key in df_map.keys():
    df = df_map[key]
    df = df.loc[~df['FMTINCRELAMICAT'].str.contains('.', regex=False)]
    df_map[key] = df
    print(df_map[key]['FMTINCRELAMICAT'].value_counts())

'7 120% AMI +'        14961
'1 LTE 30% AMI'        6105
'2 30 - 50% AMI'       5273
'5 80 - 100% AMI'      5103
'4 60 - 80% AMI'       4644
'6 100 - 120% AMI'     4385
'3 50 - 60% AMI'       2633
Name: FMTINCRELAMICAT, dtype: int64
'7 120% AMI +'        15664
'1 LTE 30% AMI'        5543
'2 30 - 50% AMI'       5333
'5 80 - 100% AMI'      5050
'4 60 - 80% AMI'       4930
'6 100 - 120% AMI'     4273
'3 50 - 60% AMI'       2643
Name: FMTINCRELAMICAT, dtype: int64
'7 120% AMI +'        16148
'1 LTE 30% AMI'        6255
'5 80 - 100% AMI'      5656
'2 30 - 50% AMI'       5599
'4 60 - 80% AMI'       4912
'6 100 - 120% AMI'     4468
'3 50 - 60% AMI'       2734
Name: FMTINCRELAMICAT, dtype: int64
'7 120% AMI +'        14802
'1 LTE 30% AMI'        6448
'2 30 - 50% AMI'       5844
'5 80 - 100% AMI'      5249
'4 60 - 80% AMI'       5167
'6 100 - 120% AMI'     4371
'3 50 - 60% AMI'       2883
Name: FMTINCRELAMICAT, dtype: int64
'7 120% AMI +'        16131
'1 LTE 30% AMI'        7669
'2 30 - 50% AMI'       6547
'5 80 - 100% AMI'      5971
'4 60 - 80% AMI'       5372
'6 100 - 120% AMI'     4533
'3 50 - 60% AMI'       3103
Name: FMTINCRELAMICAT, dtype: int64
'7 120% AMI +'        15796
'1 LTE 30% AMI'        6818
'2 30 - 50% AMI'       5680
'4 60 - 80% AMI'       5403
'5 80 - 100% AMI'      4920
'6 100 - 120% AMI'     4195
'3 50 - 60% AMI'       2863
Name: FMTINCRELAMICAT, dtype: int64
'7 120% AMI +'        14163
'1 LTE 30% AMI'        6441
'2 30 - 50% AMI'       5060
'4 60 - 80% AMI'       4243
'5 80 - 100% AMI'      4139
'6 100 - 120% AMI'     3646
'3 50 - 60% AMI'       2289
Name: FMTINCRELAMICAT, dtype: int64
'7 120% AMI +'        16081
'1 LTE 30% AMI'        7138
'2 30 - 50% AMI'       6094
'4 60 - 80% AMI'       5188
'5 80 - 100% AMI'      4888
'6 100 - 120% AMI'     4278
'3 50 - 60% AMI'       2922
Name: FMTINCRELAMICAT, dtype: int64
'7 120% AMI +'        14679
'1 LTE 30% AMI'        6478
'2 30 - 50% AMI'       5497
'4 60 - 80% AMI'       4730
'5 80 - 100% AMI'      4448
'6 100 - 120% AMI'     3935
'3 50 - 60% AMI'       2720
Name: FMTINCRELAMICAT, dtype: int64
'7 120% AMI +'        16668
'1 LTE 30% AMI'        7492
'2 30 - 50% AMI'       6571
'4 60 - 80% AMI'       5550
'6 100 - 120% AMI'     4379
'5 80 - 100% AMI'      4231
'3 50 - 60% AMI'       3306
Name: FMTINCRELAMICAT, dtype: int64
'7 120% AMI +'        14936
'1 LTE 30% AMI'        7063
'2 30 - 50% AMI'       5614
'4 60 - 80% AMI'       4931
'5 80 - 100% AMI'      4106
'6 100 - 120% AMI'     3992
'3 50 - 60% AMI'       2718
Name: FMTINCRELAMICAT, dtype: int64
'7 120% AMI +'        14902
'1 LTE 30% AMI'        5518
'2 30 - 50% AMI'       5119
'4 60 - 80% AMI'       4277
'6 100 - 120% AMI'     3448
'5 80 - 100% AMI'      3147
'3 50 - 60% AMI'       2696
Name: FMTINCRELAMICAT, dtype: int64
'7 120% AMI +'        15613
'1 LTE 30% AMI'        7102
'2 30 - 50% AMI'       6303
'4 60 - 80% AMI'       4864
'5 80 - 100% AMI'      4220
'6 100 - 120% AMI'     4067
'3 50 - 60% AMI'       2888
Name: FMTINCRELAMICAT, dtype: int64
'7 120% AMI +'        44596
'1 LTE 30% AMI'       25269
'2 30 - 50% AMI'      19131
'4 60 - 80% AMI'      14157
'5 80 - 100% AMI'     12022
'6 100 - 120% AMI'    11369
'3 50 - 60% AMI'       8374
Name: FMTINCRELAMICAT, dtype: int64
'7 120% AMI +'        19998
'1 LTE 30% AMI'       12380
'2 30 - 50% AMI'       8279
'4 60 - 80% AMI'       5778
'5 80 - 100% AMI'      5118
'6 100 - 120% AMI'     4890
'3 50 - 60% AMI'       3654
Name: FMTINCRELAMICAT, dtype: int64

In [50]:
# print out invidual files by year
year_iter = iter(years)
for key in df_map.keys():
    year = next(year_iter)
    df = df_map[key]
    df.to_csv(year + '_clean.csv', index=False)